<!-- tag::all[] -->
<!-- tag::head[] -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Travel booking platform</title>
    <link rel="stylesheet" th:href="@{/static/styles.css}"/>
</head>

<body>
<h1>Plan your way!</h1>
<img th:src="@{/images/20190609_174337.jpg}" width="3576" height="1530"/>
<a th:href="@{/design}" id="another">Order another trip! :)</a><br/>

        <br/>
        <h3>Thank you for your order!</h3>
        <br/>
        <h3>Check out your email for more details!</h3>
        <br/>
        <br/>
        <h3>We wish you good journey!</h3>


<!--    </div>-->
<!--&lt;!&ndash;     tag::closeFormTag[]&ndash;&gt;-->
<!--</form>-->
<!-- end::closeFormTag[] -->
</body>
</html>
<!-- end::all[] -->
